@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    /*background-color: #F2F2F2;*/
    background-color: #1A1A1A;
    /*color: #0D0D0D;*/
    color: #F2F2F2;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

h1 a.navbar-brand, h2, h3, h4, h5, h6 {
    color: #F2A20C !important;
    font-family: 'Expletus Sans', cursive;
    font-weight: 400;
    text-shadow: .025rem .025rem .025rem #F28B0C;
    text-transform: uppercase;
    filter: grayscale(45%);
}

a {
    color: #0D0D0D;
    filter: grayscale(45%);
}

a:hover, button:hover {
    filter: grayscale(0) !important;
}

/*h1 a.navbar-brand {
    color: #F2A20C !important;
    !*color: #F2F2F2 !important;*!
    !*filter: grayscale(45%);*!
    !*color: #0D0D0D !important;*!
    !*font-weight: 700;*!
    !*text-shadow: .02rem .02rem .02rem #F2F2F2;*!
    !*text-shadow: .02rem .02rem .02rem #000000;*!
    !*text-shadow: none;*!
}*/

/*h2 {
    font-weight: 400;
}*/

header {
    /*background-image: url('img/alex-litvin-MAYsdoYpGuk-unsplash.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    /*color: #0D0D0D;*/
    /*height: 25rem;*/
    /*filter:grayscale(75%);*/
    background-position: center 15%;
}

/*.banner-filter {
    background: rgba(13, 13, 13, 0.75);
    !*background: rgba(242, 242, 242, 0.5);*!
    height: 25rem;
}*/

/* Nav */

nav .navbar-toggler {
    color: #F2A20C !important;
}

nav .nav-link {
    /*color: #0D0D0D !important;*/
    color: #F2F2F2 !important;
    font-family: 'Expletus Sans', cursive;
    text-transform: uppercase;
}

nav .nav-link:hover, nav .navbar-toggler:hover {
    /*color: #0D0D0D !important;*/
    color: #F2A20C !important;
}

nav .nav-link.active {
    font-weight: 700;
}

/* Fin Nav */

/* Section */

section {
    text-align: center;
    margin: 4rem 0;
}

/* Fin Section */


/* Cartes */

section .card {
    background-color: rgba(242, 242, 242, 0.05);
}

section .card .card-img-top {
    width: 20rem;
}

/* Fin Cartes */

/* Page de Réservation */

.booking-form.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booking-form.form-group .form-control {
    background-color: rgba(242, 242, 242, 0.8);
    color: #0D0D0D;
    margin: .25rem 0;
    width: 30%;
}

.booking-form.form-group .form-control:nth-child(4) {
    width: 100%;
}

/* Fin Page de Réservation */

/* Page de Contact */

.contact-form .form-group input {
    background-color: rgba(242, 242, 242, 0.9);
    color: #0D0D0D;
    margin: .25rem auto;
    padding: .5rem;
    width: 75%;
}

/* Fin Page de Contact */

/* Icônes Réseaux Sociaux */

.social-media a {
    margin: 0 1rem;
    font-size: 2rem;
    color: #F28B0C;
    text-shadow: .025rem .025rem .025rem rgba(166, 95, 8, 0.25);
}
/* Fin Icônes Réseaux Sociaux */

/* Bouton + */

a .btn-more {
    background: #F28B0C;
    box-shadow: inset 0 -2px 2px 2px rgba(166, 95, 8, 0.25), inset 0 2px 2px 2px #F2A20C;
    border-radius: 10px;
    /*color: #0D0D0D;*/
    display: block;
    font-family: 'Expletus Sans', cursive;
    font-weight: 600;
    margin: 2rem auto 1rem auto;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    width: 75%;
    filter: grayscale(45%);
}

/* Fin Bouton + */


/* Footer */

footer {
    /*background-color: #0D0D0D;*/
    /*display: flex;*/
    flex-wrap: wrap;
    text-align: center;
}

footer .newsletter-footer,
footer .social-media,
footer .site-map {
    margin: 2rem auto;
}

footer .site-map,
footer .site-map a {
    margin: 0 1rem;
    /*font-size: 2rem;*/
    color: #F28B0C;
    /*text-shadow: .025rem .025rem .025rem rgba(166, 95, 8, 0.25);*/
}

footer .newsletter-footer .form-group input {
    background-color: rgba(242, 242, 242, 0.9);
    color: #0D0D0D;
    margin: .25rem auto;
    padding: .5rem;
    width: 75%;
}

/* Fin Footer */

/* Bouton Submit */

.btn-submit {
    background: #F28B0C;
    box-shadow: inset 0 -2px 2px 2px rgba(166, 95, 8, 0.25), inset 0 2px 2px 2px #F2A20C;
    border: 0;
    border-radius: 5px;
    /*color: #0D0D0D;*/
    display: block;
    margin: .5rem auto;
    padding: .5rem 1rem;
    width: 75%;
    filter: grayscale(45%);
}

/* Fin Bouton Submit */

@media (min-width: 992px) {
    h1 a.navbar-brand {
        font-size: 2rem;
        font-weight: 400;
    }
}


